<!DOCTYPE html>
<html>
<head>
	<title>Movie Night</title>
	<link rel="stylesheet" type="text/css" href="https://bootswatch.com/darkly/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

	<nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Movie Night</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/about">About</a></li>
          </ul>
      </div>
    </nav>