<% include ./partials/header %>

    <div class="container">
      <div class="well">
        <h3>About</h3>
        <hr>
        <p>Movie Night is a simple app that lets you look up information about your favorite movies. </p>
        <p>Built by Henry Scholl using the <a href="http://omdbapi.com/" target="blank">OMDb API</a>.</p>
        <a href="https://github.com/henryscholl/movie-night" target="blank">View project on Github</a>
      </div>
    </div>
    		
<% include ./partials/footer %>